
@import '../../../modules/mediaQuery/app'
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Roboto+Slab|Slabo+27px|ZCOOL+KuaiLe")

.outbox 
  width: 100vw
  height: 180vh
  display: flex
  flex-direction: column
  overflow: hidden

.page
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  .arrow
    position: fixed

.page_title
  color: white
  font-size: 50px
  font-family: ZCOOL KuaiLe
  width: 100%
  height: 10%
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 5%
  // margin-bottom: 5%
  .underline
    height: 3px
    width: 10%
    background: white  
    margin-top: 20px
.page_content
  display: flex
  height: 90%

.navbar
  margin-top: 10%
  margin-left: 3%

.board_outbox
  width: 70%
  height: 90%
  margin-top: 5%
  margin-bottom: 5%
  margin-left: 5%
  display: flex
  flex-direction: column
  justify-content: space-between
  .category_title
      color: white
      font-family: 'Roboto Slab', serif
      font-size: 15px
      margin-bottom: 5%
  
.row
  width: 95%
  height: 40%
  display: flex
  justify-content: space-between
  margin-bottom: 5%
  .project 
    height: 100%
    width: 47%
    

@media screen and (max-width: $tablet)
  .page_title
    font-size: 20px
  .board_outbox
    width: 90%
    position: relative
    margin-bottom: 5%
  .page
    display: flex
    justify-content: center
    .arrow
      bottom: 10%
      left: 5%
  .navbar
    display: none  
  .row
    height: 30%
    .project
      width: 45%
    

@media screen and (max-width: $mobileM)
  .outbox
    overflow: scroll
    height: 200vh
  .page
    .arrow
      bottom: 10%
      left: 0
  .page_title
      height: 5%
  .board_outbox
    width: 100%
    height: 150%
    position: relative
    margin: 0
    .category_title
      margin-left: 5%

  .row
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    .project 
      height: 30%
      width: 80%
      
    
