@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Slabo+27px")
@import '../../../modules/mediaQuery/app'
.outbox
  height: 90vh
  width: 100vw
  display: flex
  align-items: center
  position: relative
  color: white
  
  
.intro
  width: 60%
  margin-left: 10%

.title
  font-size: 50px
  letter-spacing: 2px
  word-spacing: 2px
  line-height: 1.5em
  font-family: 'Slabo 27px', serif

.chat
  font-size: 30px
  font-family: 'Josefin Slab', serif
  line-height: 1.5em
  width: 100%
  word-wrap: break-word
  a 
    width: 100%

@media screen and (max-width: $tablet)
  .title
    font-size: 20px
    margin-top: 0
  .chat
    font-size: 15px
    margin-bottom: 0

  .mail_link
    color: orange

  .arrow
    display: none


