@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Slabo+27px')
@import '../../../modules/mediaQuery/app'

.outbox
  margin-left: 10%
  margin-top: 10%
  width: 80%
  height: 80vh
  color: white
  font-family: 'Josefin Slab', serif
  font-size: 20px

.projects
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  height: 60%
    
@media screen and (max-width: $tablet)
  .outbox
    height: 50vh
  .projects
    height: 50%

